body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

form {
    margin: 20px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 220px;
    background-color: #fff;
}
button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.recipe-card img {
    width: 100%;
    border-radius: 10px;
}